<my-spinner [isRunning]="isRequesting"></my-spinner>
<div class="row">
    <div class="heading-main row">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"> Usecases</li>
        </ul>
        <div class="add-action-btn">
            <a href="javascript:;" class="add_action_btn" (click)="openAddPage()">
                <i class="fa fa-plus"></i>New UseCase
            </a>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="col-sm-12 view-eds" [hidden]=openAddPageFlag>
            <div class="row">
                <div class="box-main expand-big mainTopTable">
                    <div class="right-side-table" style="position: relative;">
                        <ul class="nav nav-tabs" role="tablist" id="listTab">
                            <li class="nav-item" *ngFor="let tabz of usecaseListTabs;let i = index"> 
                                <a class="nav-link" id="{{tabz.shortName}}LiTab" href="javascript:;" [class.active]="tabz.active"
                               role="tab" data-toggle="tab" (click)="setTabParameters(tabz.shortName,i);">{{tabz.title}}</a> 
                            </li>
                        </ul>
                        <div class="expand" onclick="expandDiv('expand-div', 'crud-div')" (click)="eventDetectorFlag = !eventDetectorFlag;setLargeListFlag()" ><a href="javascript:;" id="expand"><i class="fa" [ngClass]="{'fa-expand':eventDetectorFlag,'fa-compress':!eventDetectorFlag}"></i></a></div>
                        <!-- Tab panes -->
                        <div id="tabContentMainDiv" class="style-4 tab-content scrollbar expand-div wide-div">
                            <context-menu></context-menu>
                            <div role="tabpanel" class="tab-pane fade in" id="produc" [class.show]="usecaseListTabs[0].active" [class.active]="usecaseListTabs[0].active">
                                <input class="col-md-2" #gbProd [(ngModel)]="configSearchProd" type="text" placeholder="Search" dnd-droppable (onDropSuccess)="searchData($event,'prod')">  
                                       <!--Data Table--> 
                                       <div class="overflow-x">
                                    <div *ngIf="productionUseCaseList?.length > 0 ">
                                        <p-dataTable #prodTable id="prodTable" selectionMode="single" [rows]="20" (onRowUnselect)="clearObjects()"  (onRowSelect)="openUpdateTemplate($event)"  [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[5,10,20]" [globalFilter]="gbProd" [value]="productionUseCaseList" sortMode="multiple">
                                            <p-column  [sortable]="true" [style]="{'width':'50px'}">
                                                <ng-template pTemplate="header">
                                                    <i class="fa fa-sort-amount-desc" style="color: #642667;font-size: 12px;"></i>
                                                </ng-template>
                                                <ng-template let-i="rowIndex" let-col let-car="rowData" pTemplate="body">
                                                    <div><span>{{i+1}}</span></div>
                                                </ng-template>
                                            </p-column>
                                            <p-column field="useCaseName" header="Name" [sortable]="true" [style]="{'width':'250px'}">
                                                <ng-template let-i="rowIndex" let-col let-car="rowData" pTemplate="body">
                                                    <div>
                                                        <span (contextmenu)="onContextMenu($event,car)" class="bold-font">{{car[col.field]}}</span>
                                                    </div>
                                                </ng-template>
                                            </p-column>
                                            <p-column field="description" header="Description"  [sortable]="true" [style]="{'width':'250px'}">
                                                <ng-template let-col let-car="rowData" pTemplate="body">
                                                    <div><span>{{car[col.field]}}</span></div>
                                                </ng-template>
                                            </p-column>
                                            <p-column field="version" header="Version" [sortable]="true" [style]="{'width':'100px'}">
                                                <ng-template let-col let-car="rowData" pTemplate="body">
                                                    <div><span>{{car[col.field]}}</span></div>
                                                </ng-template>
                                            </p-column>
                                            <p-column field="status" header="Status"  [sortable]="true" [style]="{'width':'100px'}">
                                                <ng-template let-col let-car="rowData" pTemplate="body">
                                                    <div><span>{{car[col.field]}}</span></div>
                                                </ng-template>
                                            </p-column>
                                            <p-column field="environment" header="Environment" [sortable]="false" [style]="{'text-align':'left','width':'100px'}" >
                                                <ng-template let-col let-car="rowData" pTemplate="body">
                                                    <div>
                                                        <span class="live-icon" >LIVE</span>
                                                        <span class="sim-icon" >SIM</span>
                                                    </div>
                                                </ng-template>
                                            </p-column>
                                        </p-dataTable>
                                    </div>
                                </div>
                                <div class="bordered-box" *ngIf="productionUseCaseList?.length == 0 ">
                                    <div class="drag-txt">
                                        <p class="bold-txt">Usecase List</p> <span>
                                            <span class="color-red">Add</span> a new Usecase</span>
                                    </div>
                                </div>
                                <!-- End Data Table -->
                            </div>
                            <div role="tabpanel" class="tab-pane fade" id="simul" [class.show]="usecaseListTabs[1].active" [class.active]="usecaseListTabs[1].active">
                                <input class="col-md-2" #gbSimul [(ngModel)]="configSearchSimul" type="text" placeholder="Search" dnd-droppable (onDropSuccess)="searchData($event,'simul')"> 
                                       <!--Data Table--> 
                                       <div class="overflow-x">
                                    <div *ngIf="simulationUseCaseList?.length > 0 ">
                                        <p-dataTable #simulTable id="simulTable" [rows]="20" [paginator]="true" [pageLinks]="3" (onRowUnselect)="clearObjects()" (onRowSelect)="openUpdateTemplate($event)"  [rowsPerPageOptions]="[5,10,20]" selectionMode="single" [globalFilter]="gbSimul" [value]="simulationUseCaseList" sortMode="multiple">
                                            <p-column  [sortable]="true" [style]="{'width':'50px'}">
                                                <ng-template pTemplate="header">
                                                    <i class="fa fa-sort-amount-desc" style="color: #642667;font-size: 12px;"></i>
                                                </ng-template>
                                                <ng-template let-i="rowIndex" let-col let-car="rowData" pTemplate="body">
                                                    <div><span>{{i+1}}</span></div>
                                                </ng-template>
                                            </p-column>
                                            <p-column field="useCaseName" header="Name" [sortable]="true" [style]="{'width':'250px'}">
                                                <ng-template let-i="rowIndex" let-col let-car="rowData" pTemplate="body">
                                                    <div>
                                                        <span (contextmenu)="onContextMenu($event,car)" class="bold-font">{{car[col.field]}}</span>
                                                    </div>
                                                </ng-template>
                                            </p-column>
                                            <p-column field="description" header="Description"  [sortable]="true" [style]="{'width':'250px'}">
                                                <ng-template let-col let-car="rowData" pTemplate="body">
                                                    <div><span>{{car[col.field]}}</span></div>
                                                </ng-template>
                                            </p-column>
                                            <p-column field="version" header="Version" [sortable]="true" [style]="{'width':'100px'}">
                                                <ng-template let-col let-car="rowData" pTemplate="body">
                                                    <div><span>{{car[col.field]}}</span></div>
                                                </ng-template>
                                            </p-column>
                                            <p-column field="status" header="Status"  [sortable]="true" [style]="{'width':'100px'}">
                                                <ng-template let-col let-car="rowData" pTemplate="body">
                                                    <div><span>{{car[col.field]}}</span></div>
                                                </ng-template>
                                            </p-column>
                                            <p-column field="environment" header="Environment" [sortable]="false" [style]="{'text-align':'left','width':'100px'}" >
                                                <ng-template let-col let-car="rowData" pTemplate="body">
                                                    <div>
                                                        <span class="live-icon" >LIVE</span>
                                                        <span class="sim-icon" >SIM</span>
                                                    </div>
                                                </ng-template>
                                            </p-column>
                                        </p-dataTable>
                                    </div>
                                </div>
                                <div class="bordered-box" *ngIf="simulationUseCaseList?.length == 0 ">
                                    <div class="drag-txt">
                                        <p class="bold-txt">Usecase List</p> <span>
                                            <span class="color-red">Add</span> a new Usecase</span>
                                    </div>
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane fade" id="config" [class.show]="usecaseListTabs[2].active" [class.active]="usecaseListTabs[2].active">
                                <input class="col-md-2" #gbConfig [(ngModel)]="configSearch" type="text" placeholder="Search" dnd-droppable (onDropSuccess)="searchData($event,'config')"> 
                                       <!--Data Table--> 
                                       <div class="overflow-x">
                                    <div *ngIf="configurationUseCaseList?.length > 0 ">
                                        <p-dataTable #configTable [rows]="20" [paginator]="true" [pageLinks]="3"
                                            (onRowSelect)="openUpdateTemplate($event)" 
                                            (onRowUnselect)="clearObjects()"
                                            [rowsPerPageOptions]="[5,10,20]" selectionMode="single" id="configTable"
                                            [globalFilter]="gbConfig" [value]="configurationUseCaseList" sortMode="multiple">
                                            <p-column  [sortable]="true" [style]="{'width':'50px'}">
                                                <ng-template pTemplate="header">
                                                    <i class="fa fa-sort-amount-desc" style="color: #642667;font-size: 12px;"></i>
                                                </ng-template>
                                                <ng-template let-i="rowIndex" let-col let-car="rowData" pTemplate="body">
                                                    <div><span>{{i+1}}</span></div>
                                                </ng-template>
                                            </p-column>
                                            <p-column field="useCaseName" header="Name" [sortable]="true" [style]="{'width':'250px'}">
                                                <ng-template let-i="rowIndex" let-col let-car="rowData" pTemplate="body">
                                                    <div>
                                                        <span (contextmenu)="onContextMenu($event,car)" class="bold-font">{{car[col.field]}}</span>
                                                    </div>
                                                </ng-template>
                                            </p-column>
                                            <p-column field="description" header="Description"  [sortable]="true" [style]="{'width':'250px'}">
                                                <ng-template let-col let-car="rowData" pTemplate="body">
                                                    <div><span>{{car[col.field]}}</span></div>
                                                </ng-template>
                                            </p-column>
                                            <p-column field="version" header="Version" [sortable]="true" [style]="{'width':'100px'}">
                                                <ng-template let-col let-car="rowData" pTemplate="body">
                                                    <div><span>{{car[col.field]}}</span></div>
                                                </ng-template>
                                            </p-column>
                                            <p-column field="status" header="Status"  [sortable]="true" [style]="{'width':'100px'}">
                                                <ng-template let-col let-car="rowData" pTemplate="body">
                                                    <div><span>{{car[col.field]}}</span></div>
                                                </ng-template>
                                            </p-column>
                                            <p-column field="environment" header="Environment" [sortable]="false" [style]="{'text-align':'left','width':'100px'}" >
                                                <ng-template let-col let-car="rowData" pTemplate="body">
                                                    <div>
                                                        <span class="live-icon" >LIVE</span>
                                                        <span class="sim-icon" >SIM</span>
                                                    </div>
                                                </ng-template>
                                            </p-column>
                                        </p-dataTable>
                                    </div>
                                </div>
                                <div class="bordered-box" *ngIf="configurationUseCaseList?.length == 0 ">
                                    <div class="drag-txt">
                                        <p class="bold-txt">Usecase List</p> <span>
                                            <span class="color-red">Add</span> a new Usecase</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix" [hidden]="!showUpdateScreen" class="crud-div">
            <div class="mrt-10">
                <div class="row">
                    <div class="col-sm-12 col-md-3" style="margin-right: -23px;">
                        <div id="tabMainDiv" class="box-main expand-big">
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs" id="toolsNavTab" role="tablist">
                                <li class="nav-item"> <a #edsli id="edsliTab" class="nav-link active" data-toggle="tab" href="javascript:;" role="tab">Event Detectors</a> </li>
                            </ul>
                            <!-- Tab panes -->
                            <div class="tab-content fix-height-385" id="tools">
                                <div class="tab-pane fade in active show" id="edsTab" role="tabpanel">
                                    <div class="w-100 row">
                                        <div class="col-sm-8 pr-0">
                                            <input [(ngModel)]="edsQuery" type="search" placeholder="Search "> 
                                        </div>
                                        <div class="col-sm-4 pr-0 text-left "><a class="addBtn" href="javascript:;" [routerLink]="['/eventdetectors']"><i class="fa fa-plus"></i></a> </div>
                                    </div>
                                    <div class="drag-tab fix-height-335 style-4 scrollbar">
                                        <ul>
                                            <div *ngFor="let data of dataSet | filterarray:edsQuery">
                                                <li (dblclick)="transferEventDetectorDataSuccess(data)" dnd-draggable [dragEnabled]="true" [dropZones]="['EventDetectorZone']" [dragData]="data">
                                                    <a href="javascript:;"><div class="usecase-role-name"><i class="fa fa-arrows"></i>{{data.name}}</div></a>
                                                </li>
                                            </div>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-9" style="padding-right: 0px">
                        <div class="box-main">
                            <div class="activation-box-main">
                                <div class="activation-box-main-heading">Config Space
                                    <div class="expand" onclick="expandDiv('crud-div', 'view-eds')" (click)="togglePage()"><a href="javascript:;" id="expand"><i class="fa" [ngClass]="{'fa-expand': !showEnlargedScreen,'fa-compress': showEnlargedScreen}"></i></a></div>
                                </div>
                                <div [hidden]="showEnlargedScreen" [ngStyle]="{'pointer-events': usecaseObj.updatable ? '' : 'none'}">
                                    <form novalidate="" #usecaseForm="ngForm" (ngSubmit)="onSubmit(usecaseForm)">
                                        <div class="row col-md-12">
                                            <div class="col-md-4">
                                                <div class="activation-box mb-5">
                                                    <label for="useCaseName">Name</label>
                                                    <div class="clearfix"></div>
                                                    <div class="col-sm-12">
                                                        <div class="row">
                                                            <input id="useCaseName" required name="useCaseName" type="text" class="col-sm-7 grey-bold-text" 
                                                                   [ngClass]="{'error-box':useCaseName.errors && submittedFlag && useCaseName.errors.required}" 
                                                                   #useCaseName="ngModel"  [(ngModel)]="usecaseObj.useCaseName">
                                                                   <span class="col-sm-5" style="line-height: 30px">{{usecaseObj.version}} Version</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="activation-box min-height-100">
                                                    <label for="description">Description</label>
                                                    <textarea id="description" #description="ngModel" name="description" class="w-100 grey-text" [(ngModel)]="usecaseObj.description"></textarea>
                                                </div>

                                            </div>
                                            <div class="col-md-4 ml-mr-5">
                                                <div class="w-100">
                                                    <!-- Event Detectors -->
                                                    <div class="activation-box suppression">
                                                        <label>Event Detectors</label>
                                                        <div class="bordered-box" [ngClass]="{'error-box': (usecaseObj.edList.length == 0) && submittedFlag}">
                                                             <div class="drag-txt" dnd-droppable [dropZones]="['EventDetectorZone']" (onDropSuccess)="transferEventDetectorDataSuccess($event.dragData)">
                                                             <p><i class="fa fa-arrows"></i> Drag Event Detectors Here</p>
                                                            </div>
                                                        </div>
                                                        <div id="dropSuppressionArea" class="style-4 drag-item scrscrollbar height-170" *ngIf="usecaseObj.edList.length > 0">
                                                            <ul class="drag-ul" dnd-sortable-container [sortableData]="usecaseObj.edList">
                                                                <li  dnd-sortable [sortableIndex]="i"  *ngFor="let eds of usecaseObj.edList;let i = index"> 
                                                                 <span class="square-box">{{i+1}}</span><div class="drag-block"><a href="javascript:;"><i class="fa fa-arrows"></i>{{eds.eventName}}</a><i class="pull-right fa fa-remove" (click)="removeEventDetector(i)"></i> </div>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="w-100 clearfix footer-button">
                                            <div class="float-right">
                                                <button type="button" [ngClass]="{'white-btn':!usecaseObj.publishable || (!form.dirty && !dirtyFlag),'pink-btn':usecaseObj.publishable && (form.dirty || dirtyFlag)}" [disabled]="!usecaseObj.publishable || (!form.dirty && !dirtyFlag)" (click)="onPublish(usecaseForm)">Publish</button>
                                                <button type="button" [ngClass]="{'white-btn':(!form.dirty && !dirtyFlag),'purple-btn':(form.dirty || dirtyFlag)}" [disabled]="(!form.dirty && !dirtyFlag)" (click)="checkCancelChanges()">Cancel</button>
                                                <button type="submit" [ngClass]="{'white-btn':(!form.dirty && !dirtyFlag),'pink-btn':(form.dirty || dirtyFlag)}" [disabled]="(!form.dirty && !dirtyFlag)">Save</button> 
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="style-4 w-100 fix-height-555 scrollbar" [hidden]="!(showEnlargedScreen || openAddPageFlag)">
                                     <div class="usecaseCreatForm" [ngStyle]="{'pointer-events': usecaseObj.updatable ? '' : 'none'}">
                                     <div class="usecaseCreatFormTitle col-sm-12">
                                            <h5>Create a New Usecase</h5>
                                            <p>Fill in the configuration criteria below to save a new Usecase to Drafts.</p>
                                        </div>
                                        <div class="createUsecaseForm">
                                            <form novalidate="" #usecaseForm="ngForm" (ngSubmit)="onSubmit(usecaseForm)">
                                                <div class="col-sm-4">
                                                    <div class="activation-box mb-5">
                                                        <label for="useCaseName">Name</label>
                                                        <div class="clearfix"></div>
                                                        <div class="col-sm-12">
                                                            <div class="row">
                                                                <input id="useCaseName" [ngClass]="{'error-box':useCaseName.errors && submittedFlag && useCaseName.errors.required}"
                                                                       required #useCaseName="ngModel" name="useCaseName" type="text"
                                                                       class="col-sm-8 grey-bold-text" [(ngModel)]="usecaseObj.useCaseName">
                                                                       <span class="col-sm-4" style="line-height: 30px">{{usecaseObj.version}} Version</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!--<span *ngIf="(usecaseObj.criteriaExpression == null || usecaseObj.criteriaExpression == '') && submittedFlag" [ngClass]="{'error-box':(usecaseObj.criteriaExpression == null || usecaseObj.criteriaExpression == '') && submittedFlag}">Suppression Rules are mandatory</span>-->
                                                    <div class="activation-box min-height-100">
                                                        <label for="description">Description</label>
                                                        <textarea id="description" #description="ngModel" name="description" class="w-100 grey-text" [(ngModel)]="usecaseObj.description"></textarea>
                                                    </div>
                                                </div>
                                                <div class="clearfix"></div>
                                                <div class="col-sm-12">
                                                    <div class="activation-box-inner-3 ml-mr-5">
                                                        <!-- Event Detectors -->
                                                        <div class="activation-box suppression">
                                                            <label>Event Detectors</label>
                                                            <div class="bordered-box">
                                                                <div class="drag-txt" dnd-droppable [dropZones]="['EventDetectorZone']" (onDropSuccess)="transferEventDetectorDataSuccess($event.dragData)">
                                                                     <p><i class="fa fa-arrows"></i> Drag Event Detectors Here</p>
                                                                </div>
                                                            </div>
                                                            <div id="dropSuppressionArea" class="style-4 drag-item scrscrollbar" *ngIf="usecaseObj.edList.length > 0">
                                                                <ul class="drag-ul" dnd-sortable-container [sortableData]="usecaseObj.edList">
                                                                    <li  dnd-sortable [sortableIndex]="i"  *ngFor="let eds of usecaseObj.edList;let i = index"> 
                                                                     <span class="square-box">{{i+1}}</span><div class="drag-block"><a href="javascript:;"><i class="fa fa-arrows"></i>{{eds.eventName}}</a><i class="pull-right fa fa-remove" (click)="removeEventDetector(i)"></i> </div>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="w-100 clearfix footer-button">
                                                    <div class="float-right">
                                                        <button type="button" [ngClass]="{'white-btn':!usecaseObj.publishable || (!form.dirty && !dirtyFlag),'pink-btn':usecaseObj.publishable && (form.dirty || dirtyFlag)}" [disabled]="!usecaseObj.publishable || (!form.dirty && !dirtyFlag)" (click)="onPublish(usecaseForm)">Publish</button>
                                                        <button type="button" [ngClass]="{'white-btn':(!form.dirty && !dirtyFlag),'purple-btn':(form.dirty || dirtyFlag)}" [disabled]="(!form.dirty && !dirtyFlag)" (click)="checkCancelChanges()">Cancel</button>
                                                        <button type="submit" class="mr-2" [ngClass]="{'white-btn':(!form.dirty && !dirtyFlag),'pink-btn':(form.dirty || dirtyFlag)}" [disabled]="(!form.dirty && !dirtyFlag)">Save</button> 
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<p-dialog header="Archive Confirmation" [(visible)]="archiveUsecaseDisplay" modal="modal" width="500" responsive="true">
    Are You sure you want to archive {{modalContent.useCaseName}} usecase?
    <p-footer>
        <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
            <button type="button" class="purple-btn" (click)="archiveUsecaseDisplay=false">No</button>
            <button type="button" class="pink-btn mr-2" (click)="archiveUseCase()">Yes</button>
        </div>
    </p-footer>
</p-dialog>
<p-dialog header="Delete Confirmation" [(visible)]="deleteUsecaseDisplay" modal="modal" width="500" responsive="true">
    Are You sure you want to delete {{modalContent.useCaseName}} usecase?
    <p-footer>
        <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
            <button type="button" class="purple-btn" (click)="deleteUsecaseDisplay=false">No</button>
            <button type="button" class="pink-btn mr-2" (click)="deleteUseCase()">Yes</button>
        </div>
    </p-footer>
</p-dialog>
<p-dialog class="p-model" header="Cancel Confirmation" [(visible)]="cancelUsecaseDisplay" modal="modal" width="500" responsive="true">
    You have unsaved changes. Are you sure you want to cancel changes in <b>{{modalContent.useCaseName}}</b> usecase?
    <p-footer>
        <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
            <button type="button" class="purple-btn" (click)="rejectSuppressionTraversalChanges()">No</button>
            <button type="button" class="pink-btn mr-2" (click)="cancelChangesFlag == 'changeEditCancel' ? cancelUpdateChanges()  : cancelUseCases()">Yes</button>
        </div>
    </p-footer>
</p-dialog>
