<my-spinner [isRunning]="isRequesting"></my-spinner>
<div id="menuJ" class="row">
    <div  class="heading-main row">
<ul *ngIf="readAccess && !viewProfileDisplay" class="breadcrumb">
    <li class="breadcrumb-item">Admin</li>
    <li class="breadcrumb-item breadcrumb-item-text">User Management</li>
</ul>
<ul *ngIf="!(readAccess && !viewProfileDisplay)" class="breadcrumb">
    <li class="breadcrumb-item">View Profile</li>
</ul>
<div *ngIf="readAccess && !viewProfileDisplay" class="add-action-btn">
    <a href="javascript:;" [ngClass]="{'add_action_btn':updateAccess,'add_action_btn-disabled':!updateAccess}" (click)="updateAccess && openAddUserPage()">
       <i class="fa fa-plus"></i>Add New User
    </a>
</div>
</div>
</div>
<div class="row">
    <div class="admin-wrapper">
        <div class="row">
            <div  *ngIf="readAccess && !viewProfileDisplay"  class="col-sm-2 pd-right-0" (on-init)="changeSizeFromViewPort()">
                <context-menu class="user-manage"></context-menu>
                <div class="admin-title br-left-top">User Library</div>
                <div class="library-div height-550  style-4 scrollbar panelJ" (window:resize)="changeSizeFromViewPort()">
                    <div class="w-100 row">
                        <div class="col-sm-12 library-user-search">
                            <input [(ngModel)]="libraryQuery" type="search" placeholder="Search" (keyup)="openRolesDrop(libraryQuery)">
                        </div>
                    </div>
                    <div class="priviledge-section">
                        <div class="col-sm-12">
                            <span class="icon-text-img user-leftpanel-user-icon"><i class="fa fa-user"></i></span>
                            <span class="icon-text fs-12 priviledge-text">Your Priviledges</span>
                            <span class="icon-text user-leftpanel-user-name-text cursor-pointer" pTooltip="{{loggedInUser.firstName}} {{loggedInUser.lastName}}"
                                  tooltipPosition="bottom" (click)="showUserDetail(loggedInUser,true,true)">
                                {{loggedInUser.firstName}} {{loggedInUser.lastName}}</span>
                            <span *ngIf="loggedInUserDisplay" class="icon-text user-leftpanel-lib-caret"><i class="lib-caret"></i></span>
                        </div>
                    </div>

                    <div  class="row w-100">
                        <div class="col-xs-12 pos-static">
                            <ul class="left-box-list display-inline dropdown-menu caretmenu" style="height: auto;z-index: 0;padding: 10px 0px 0px 25px;">
                                <li class="dropdown-submenu no-padding" *ngFor="let role of roleList;let roleIndex = index">
                                    <a class="library-link" id="roles{{roleIndex}}" href="javascript:;" (click)="changeState('roles'+roleIndex,$event)">
                                        <i class="close-caret"></i>{{role.roleDescription}}</a>
                                    <ul class="dropdown-menu left-side-submenu" style="z-index: 0;">
                                        <li (contextmenu)="onContextMenu($event,user)" class="dropdown-li w-100 col-sm-12 pd-left-0 pd-right-0 cursor-pointer" [ngClass]="{'active':(viewUserObj.userId == user.userId)}"
                                            *ngFor="let dataIndex = index; let user of role.users | filterarray: libraryQuery : 'firstName'"
                                            id="contextmenu{{user.firstName}}">
                                            <a href="javascript:;" id="role{{roleIndex}}{{user.firstName}}" (click)="showUserDetail(user,false,true)" class="col-sm-10"><span>{{user.firstName}} {{user.lastName}}</span></a>
                                            <span class="col-sm-2 icon-text" *ngIf="(!(editUserInfo == true && userObj.userId == null) && (viewUserObj.userId == user.userId))">
                                                  <i class="lib-caret"></i>
                                            </span>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div [ngClass]="{'col-sm-12': !(readAccess && !viewProfileDisplay),'col-sm-10 pd-left-0': (readAccess && !viewProfileDisplay)}">
                <div id="paneltitleJ" class="admin-title br-right-top">User Details</div>
                <div *ngIf="!editUserInfo" class="user-info style-4 scrollbar panelJ" (window:resize)="changeSizeFromViewPort()" (on-init)="changeSizeFromViewPort()" style="overflow-x: hidden;float:none;padding-left: 10px;padding-bottom:45px">
                    <div class="mrt-5">
                        <div class="custom-col-sm-1 activation-box user-profile">

                            <div *ngIf="profileImageUrl == null || profileImageUrl == undefined" class="user-profile-image"
                                [ngStyle]="{'background-image':'url(../../assets/images/default-user.png)'}">
                        </div>
                        <div *ngIf="profileImageUrl != null && profileImageUrl != 'null'" class="user-profile-image"
                            [ngStyle]="{'background-image':'url('+profileImageUrl+')'}">
                    </div>
                </div>
                <div class="custom-col-sm-11" style="float: left;">
                    <span class="user-name-text">{{viewUserObj.firstName}} {{viewUserObj.lastName}}</span>
                    <button style="margin-left: 10px;float: none" [disabled]="false" *ngIf="(loggedInUserDisplay && updateAcess) 
                            || (!loggedInUserDisplay && updateAccess) 
                            ||(loggedInUserDisplay && !updateAcess)" [ngClass]="{'red-btn':(loggedInUserDisplay || updateAccess),
                            'white-btn':!(loggedInUserDisplay || updateAccess),
                            'mt-12':!(loggedInUserDisplay || updateAccess)}" (click)="editUser()">Edit Details</button>
                    <button style="margin-left: 10px;float: none" [disabled]="true" *ngIf="!((loggedInUserDisplay && updateAcess) 
                            || (!loggedInUserDisplay && updateAccess) ||(loggedInUserDisplay && !updateAcess))"
                            [ngClass]="{'red-btn':(loggedInUserDisplay || updateAccess),
                            'white-btn':!(loggedInUserDisplay || updateAccess),
                            'mt-12':!(loggedInUserDisplay || updateAccess)}" (click)="editUser()">Edit Details</button>
                </div>
                <div class="clearfix"></div>
                <div class="col-sm-12 row">
                    <div class="activation-box">
                        <label for="userEmail">Roles</label>
                        <div class="col-sm-12 pd-left-0" *ngFor="let role of viewUserObj.roles">
                             <input disabled type="checkbox" checked class="css-checkbox"  />
                            <label class="css-label-gray">{{role.roleDescription}}</label>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="col-sm-12 user-role-table-div">
                    <table id="userRoleTbl" class="table table-bordered table-responsive">
                        <tr>
                            <td style="width: 300px" *ngFor="let key of featureAccessList">
                                <span>{{key}}</span>
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 300px" *ngFor="let key of featureAccessList">
                                <div class="col-sm-12"style="padding-left: 0px;"
                                 *ngFor="let submenu of mainMenu[key] " >
                                 <span class="badge badge-default" [ngClass]="{'read-access-color':submenu.accessLevel == 'READ_ONLY',
                                      'update-access-color':submenu.accessLevel == 'UPDATE_ACCESS',
                                      'no-access-color':submenu.accessLevel == 'NO_PAGE_ACCESS'}">{{submenu.screenName | capitalize}} - {{submenu.accessLevel| capitalize}}</span></div>
                            </td> 
                        </tr>
                    </table>
                </div>
            </div>
        </div>     
        <div [hidden]="!editUserInfo" style="float:left;padding-left: 0px; padding-right: 0px" class="col-sm-12 height-550">
            <form novalidate="" #userForm="ngForm" (ngSubmit)="onSubmit()">
                <div class="user-info style-4 scrollbar panelJ" style="overflow-x: hidden;float:none;padding-left: 10px;padding-bottom:45px" (window:resize)="changeSizeFromViewPort()">
                    <div class="mrt-5">
                        <div class="custom-col-sm-1 activation-box user-profile ">
                            <div *ngIf="uploadedFiles.length == 0 && (profileImageUrl == null || profileImageUrl == undefined)"
                                class="user-profile-image main-change-profile"
                                [ngStyle]="{'background-image':'url(../../assets/images/default-user.png)'}">
                                <div class="change-profile">
                                    <a href="javascript:;">
                                        <p-fileUpload  #fileUpload (onSelect)="onSelect($event,files)" name="myfile[]" chooseLabel="Change"
                                            accept="image/*" maxFileSize="1000000" invalidFileSizeMessageSummary=" " invalidFileSizeMessageDetail="maximum upload size:-1 mb">
                                        </p-fileUpload>
                                    </a>
                                </div>
                            </div>
                            <div *ngIf="uploadedFiles.length == 0 && profileImageUrl != null"
                                class="user-profile-image main-change-profile" 
                                [ngStyle]="{'background-image':'url('+profileImageUrl+')'}">
                                <span class="play"  (click)="removeProfilePicture()"
                                  *ngIf="uploadedFiles.length == 0 && profileImageUrl != null"><i class="fa fa-remove"></i></span>
                                <div class="change-profile">
                                    <a href="javascript:;">
                                        <p-fileUpload #fileUpload (onSelect)="onSelect($event,files)" name="myfile[]" chooseLabel="Change"
                                            accept="image/*" maxFileSize="1000000" invalidFileSizeMessageSummary=" " invalidFileSizeMessageDetail="maximum upload size:-1 mb">
                                        </p-fileUpload>
                                    </a>
                                </div>
                            </div>
                            <div *ngIf="uploadedFiles.length > 0" 
                                class="user-profile-image main-change-profile"
                                [ngStyle]="{'background-image':'url('+uploadedFiles[0].objectURL.changingThisBreaksApplicationSecurity+')'}">
                                <span class="play" (click)="removeProfilePicture()"
                                      *ngIf="uploadedFiles.length > 0" ><i class="fa fa-remove"></i></span>
                                <div class="change-profile">
                                    <a href="javascript:;">
                                        <p-fileUpload #fileUpload (onSelect)="onSelect($event,files)" name="myfile[]" chooseLabel="Change"
                                            accept="image/*" maxFileSize="1000000" invalidFileSizeMessageSummary=" " invalidFileSizeMessageDetail="maximum upload size:-1 mb">
                                        </p-fileUpload>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="custom-col-sm-11" style="float: left;">
                            <div class="col-sm-12 row">
                                <div class="activation-box" style="width: 25%;">
                                    <label for="firstName">First Name</label>
                                    <input id="firstName" name="firstName" class="user-input" type="text" #firstName="ngModel" [ngClass]="{'error-box':firstName.errors && submittedFlag && firstName.errors.required}"
                                           required [(ngModel)]="userObj.firstName">
                                </div>
                                <div class="activation-box " style="width: 25%">
                                    <label for="lastName">Last Name </label>
                                    <input id="lastName" name="lastName" class="user-input" type="text" #lastName="ngModel" 
                                           [ngClass]="{'error-box':lastName.errors && submittedFlag && lastName.errors.required}"
                                           required [(ngModel)]="userObj.lastName">
                                </div>
                            </div>
                            <div class="col-sm-12 row">
                                <div class="activation-box" style="width: 25%;
                                     margin-bottom: 0px;
                                     padding-bottom: 0px;">
                                    <label for="userEmail">Email</label>
                                    <input class="user-input" required="true" id="userEmail" name="userEmail" type="text" pTooltip="{{userObj.email}}" tooltipPosition="bottom"
                                           [disabled]="userObj.userId != null" #userEmail="ngModel" pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,3}$"
                                           [ngClass]="{'error-box':userObj.userId == null && !userEmail.valid && (submittedFlag)}" [(ngModel)]="userObj.email">
                                </div>
                                <div *ngIf="userObj.userId==null" class="activation-box email-info">
                                    <span>The user will be emailed a secure link allowing them to create
                                        their own password and edit user details. </span>
                                </div>
                            </div>
                        </div>
                        <ng-container *ngIf="updateAccess">
                            <div class="col-sm-12 row">
                                <div class="activation-box">
                                    <label for="userEmail">Roles</label>
                                    <div class="col-sm-12 pd-left-0" *ngFor="let role of roleList;let checkRoleIndex = index">
                                         <input type="checkbox" name="userRole{{checkRoleIndex}}" id="userRole{{checkRoleIndex}}" class="css-checkbox" (change)="changeUserFeatureByRole()"
                                           [(ngModel)]="role.selected" />
                                        <label for="userRole{{checkRoleIndex}}" class="css-label">{{role.roleDescription}}</label>
                                    </div>
                                </div>
                                <div *ngIf="roleError">
                                    <span class="color-red">Roles are mandatory</span>
                                </div>
                            </div>
                        </ng-container>
                        <div class="clearfix"></div>
                        <div class="col-sm-12 user-role-table-div" *ngIf="rolesSelected && updateAccess">
                             <table id="userRoleTbl" class="table table-bordered table-responsive">
                                <tr>
                                    <td style="width: 300px" *ngFor="let key of featureAccessList">
                                        <span>{{key}}</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width: 300px" *ngFor="let key of featureAccessList">
                                        <div class="col-sm-12"style="padding-left: 0px;"
                                          *ngFor="let submenu of mainMenu[key] " >
                                          <span class="badge badge-default" [ngClass]="{'read-access-color':submenu.accessLevel == 'READ_ONLY',
                                          'update-access-color':submenu.accessLevel == 'UPDATE_ACCESS',
                                          'no-access-color':submenu.accessLevel == 'NO_PAGE_ACCESS'}">{{submenu.screenName | capitalize}} - {{submenu.accessLevel| capitalize}}</span></div>
                                    </td> 
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="user-footer" style="padding-left: 10px">
                    <span class="user-save">
                        <i class="fa fa-floppy-o floppy" 
                           [ngStyle]="{'color':(form !== undefined && (form.dirty == true ||  isProfilePictureChanged)) ? '#642667' : '#9F9F9F' }">
                    </i>
                    <button type="submit" id="saveBtn" style="cursor: pointer;"
                            [ngStyle]="{'color':(form !== undefined && (form.dirty == true ||  isProfilePictureChanged)) ? '#642667' : '#9F9F9F' }"
                            class="user-footer-btn" [disabled]="form == undefined || !(form.dirty == true ||  isProfilePictureChanged)">
                            Save
                </button>
            </span>
            <span class="user-save">
                <i class="fa fa-times-circle-o floppy" 
                   style="color: #642667">
                </i>
                <button type="button"  id="cancelBtn"
                        class="user-footer-btn" (click)="checkCancelChanges()" style="color: #642667;cursor: pointer;">
                    Cancel
                </button>
            </span>
        </div>
    </form>
</div>
</div>
</div>
</div>
</div>
<p-dialog class="p-model" header="Cancel Confirmation" [(visible)]="cancelUserDisplay" modal="modal" width="500" responsive="true">
    You have unsaved changes. Are you sure you want to cancel changes in <b>{{userObj.firstName}} {{userObj.lastName}}</b>    user?
    <p-footer>
        <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
            <button type="button" class="purple-btn" (click)="cancelUserDisplay = false">No</button>
            <button type="button" class="pink-btn mr-2" *ngIf="cancelChangeReason == 'addoreditedUser'" (click)="cancelChanges()">Yes</button>
            <button type="button" class="pink-btn mr-2" *ngIf="cancelChangeReason == 'changeUser'" (click)="changeUserDetails()">Yes</button>
            <button type="button" class="pink-btn mr-2" *ngIf="cancelChangeReason == 'addUserClick'" (click)="navigateToNewUser()">Yes</button>
            <button type="button" class="pink-btn mr-2" *ngIf="cancelChangeReason == 'viewLoggedInProfileClick'" (click)="cancelChangeViewProfile()">Yes</button>
            <button type="button" class="pink-btn mr-2" *ngIf="cancelChangeReason == 'viewUserManagementPage'" (click)="cancelChangeUserManagementPage()">Yes</button>
        </div>
    </p-footer>
</p-dialog>
<p-dialog class="p-model" header="Delete Confirmation" [(visible)]="deleteUserDisplay" modal="modal" width="500" responsive="true">
    Are You sure you want to delete <b>{{modalContent.firstName}} {{modalContent.lastName}}</b> user?
    <p-footer>
        <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
            <button type="button" id="noBtn" class="purple-btn" (click)="deleteUserDisplay=false">No</button>
            <button type="button" id="yesBtn" class="pink-btn mr-2" (click)="deleteUser()">Yes</button>
        </div>
    </p-footer>
</p-dialog>
<p-dialog class="p-model" header="Invalid Image" [(visible)]="InvalidImageDisplay" modal="modal" width="500" responsive="true">
    Maximum image size is 1 mb, Please enter the image of size less than 1 mb
    <p-footer>
        <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">

            <button type="button" id="okBtn" class="pink-btn mr-2" (click)=invalidImageDisplay()>OK</button>
        </div>
    </p-footer>
</p-dialog>
<p-dialog class="p-model" header="Invalid File" [(visible)]="InvalidFileDisplay" modal="modal" width="500" responsive="true">
    Please upload a valid image
    <p-footer>
        <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">

            <button type="button" id="okBtn" class="pink-btn mr-2" (click)=invalidImageDisplay()>OK</button>
        </div>
    </p-footer>
</p-dialog>
