/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 12 May, 2017, 1:10:13 PM
    Author     : shreya
*/

.left-box-list, .left-side-submenu{ padding-left: 0px;
                                    padding-right: 0px;}
.left-box-list{
    width: 100%;
    border: none;
}


.left-box-list .dropdown-submenu{
    width: 95%;
    position: relative;
}
.left-box-list li a {
    font-size: 13px;
    text-align: left;
    color: #464646;
}

.left-side-submenu{
    border: none;
}
.left-side-submenu li:first-child{
    border-top: 1px solid #d2d2d2;
}
.left-side-submenu li{
    font-size: 14px;
    text-align: left;
    color: #464646;
    margin: 0px;
    padding: 5px 0px;
    border-bottom: 1px solid #d2d2d2;
    background: #f9f9f9;
}

.left-side-submenu li a{
    font-size: 14px;
    float:left;
}

.left-side-submenu li.active{
    font-size: 14px;
    text-align: left;
    color: #464646;
    background-color: #f1ebf1;
    margin: 0px;
    padding: 5px 0px;
    border-bottom: 1px solid #d2d2d2;
}

.left-box-list .dropdown-submenu .library-link{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.user-footer{
    padding: 0px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    padding: 10px;
    background: #fff;

}
