<div id='menuJ' class="row">
    <div class="heading-main row">
        <ul class="breadcrumb">
            <li class="breadcrumb-item">{{currentFeature}}</li>
        </ul>

    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="box-main">
            <div class="activation-box-main">
                <div class="explore-frame" 
                     (window:resize)="changeSizeFromViewPort()" (on-init)="changeSizeFromViewPort()">
                    <iframe height="100%" width="100%" class="iframe-exp" [src]="featureLink | safe"></iframe>
                </div>
            </div>
        </div>
    </div>
</div>
