<div id="fullscreen_bg" class="fullscreen_bg">
    <div class="container2">
        <a class="logo" href="javascript:;"><img src="assets/images/logo.png" class="img-fluid" alt="your logo"></a>
    </div>
    <div class="container2">
        <div class="col-md-12 login-form">
            <div class="panel panel-default">
                <div class="panel-heading"> <strong class="">Change Password</strong>
                </div>
                <div class="panel-body">
                    <form novalidate="" name="PasswordForm" #PasswordForm="ngForm" class="form-horizontal" role="form" (ngSubmit)="changePassword(PasswordForm)">
                        <div class="form-group">
                            <div class="col-sm-12">
                                <span class="reset-password-txt">Enter and Confirm new Password</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="newUserPwd" class="col-sm-12 control-label mg-b-3">New Password</label>
                            <div class="col-sm-12">
                                <input type="password" class="form-control" name="password"
                                       [ngClass]="{'error-box':!password.valid && submittedFlag}"
                                       [(ngModel)]="newpassword" required #password="ngModel" 
                                       validateEqual="confirmNewUserPwd"
                                       reverse="true"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="confirmNewUserPwd" class="col-sm-12 control-label mg-b-3">Confirm New Password</label>
                            <div class="col-sm-12">
                                <input type="password" class="form-control" id="confirmNewUserPwd"
                                       [ngClass]="{'error-box':!confirmNewUserPwd.valid && (!confirmNewUserPwd.untouched || submittedFlag)}"
                                       [(ngModel)]="confirmPassword" name="confirmNewUserPwd"
                                       required validateEqual="password" #confirmNewUserPwd="ngModel"/>
                                       <div class="form-group" [hidden]="confirmNewUserPwd.valid || (confirmNewUserPwd.untouched)">
                                    <div class="col-sm-12">
                                        <span class="login-error">Password Mismatch</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group last">
                            <div class="col-sm-12">
                                <button type="submit" class="btn btn-success btn-sm"
                                        [disabled]="!( confirmNewUserPwd.valid && password.valid )">Confirm</button>
                               <button type="button" class="btn btn-success btn-sm back-button" (click)="onClickBackButton()">Cancel</button>          
                            </div>
                        </div>
                    </form>
                </div>

            </div>
        </div>





    </div>

</div>







<script>
    $('.message a').click(function () {
        $('form').animate({
            height: "toggle",
            opacity: "toggle"
        }, "slow");
    });

</script>